@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    font-family: 'Secular One', sans-serif;
}

body {
    background-color: rgb(44, 52, 68);
    text-align: center;
}
button {
    margin-top: 5px;
    margin-right: 20px;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.mittwald {
    color: #ffffff;
    line-height: 1px;
    margin-top: 310px;
    font-size: 80px;
}
.true {
    height: 50px;
    width: 10%;
    top: 40%;
    left: 87%;
    font-size: 20px;
    border-radius: 20px;
    background-color: white;
    border: none;
    transition: all 0.3s ease 0s;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.true:hover {
    background-color: rgb(0, 207, 0);
    color: white;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.false {
    height: 50px;
    width: 10%;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    background-color: white;
    border: none;
    transition: all 0.3s ease 0s;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.false:hover {
    background-color: rgb(221, 16, 16);
    color: white;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.grün{
    color: rgb(0, 207, 0);
    font-size: 30px;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.rot{
    color: red;
    font-size: 30px;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.normal{
    color: white;
    font-size: 40px;
    line-height: 100px;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 

}
#q{
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
ul.main {
    position: sticky;
    text-align: left;
    -webkit-position-: sticky;
    padding: 0%;
    top: 0%;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.main li {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin: 4px;
    border-radius: 2em;
    overflow: hidden;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.main li a {
    display: block;
    padding: .5em;
    min-width: 1.28571429em;
    max-width: 1.28571429em;
    height: 1.28571429em;
    white-space: nowrap;
    line-height: 1.5em;
    transition: .5s;
    text-decoration: none;
    color: #000;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.main li i {
    margin-right: .5em;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.main li:hover a {
    max-width: 200px;
    padding-right: 1em;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
#buttons button:last-of-type {
    margin-right: 0;
}

